[submodule "vim/pack/my-plugins/start/vim-polyglot"]
	path = vim/pack/my-plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/pack/my-plugins/start/coc.nvim"]
	path = vim/pack/my-plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "vim/pack/my-plugins/start/vim-synthwave84"]
	path = vim/pack/my-plugins/start/vim-synthwave84
	url = https://github.com/artanikin/vim-synthwave84
